.navbar{
    /* border: 2px solid red; */
    height: 7vh;
    width: 100%;
}

.navbar span{
    font-size: 30px;
    font-weight: 80px;
}

.navbar .nav-heading{
    position: absolute;
    top: 30px;
    left: 30px;
}